/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.bluechef {
background-color: #0000bf;
}
.bluechef-text {
color: #0000bf;
}
.collection {
    margin: .5rem 0 1rem 0;
    border: 1px solid #ec9de8;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}
.collection a.collection-item {
    display: block;
    -webkit-transition: .25s;
    transition: .25s;
    color: #0000bf;
  }
  .collection .collection-item {
      background-color: #fff;
      line-height: 1.5rem;
      padding: 10px 20px;
      margin: 0;
      border-bottom: 1px solid #ec9de8;
  }
  .collection a.collection-item:not(.active):hover {
    background-color: #f1d7f0;
}
h1 {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text {
  text-align: center;
}
